{% extends "base.html" %}

{% load staticfiles %}
{% load thumbnail %}

{% load mptt_tags %}


{% block title %}{{ block.super }}{{ product.name }}{% endblock %}



{% block container %}

<div class="container">
<hr>

        <ul class="nav nav-pills" role="tablist">
    {% recursetree nodes %}
        {% if node.is_leaf_node %}
        <li>
            <a tabindex="-1" href="{{ node.get_absolute_url }}">{{ node.name }}</a>
        </li>
        {% elif node.level == 1 %}
        <li class="dropdown-submenu">
            <a href="#">{{ node.name }}</a>
            <ul class="dropdown-menu" role="menu">
                {{ children }}
            </ul>
        </li>
        {% else %}
        <li role="presentation" class="active">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ node.name }}</a>
            <ul class="dropdown-menu" role="menu">
            {{ children }}
            </ul>
        </li>
        {% endif %}
    {% endrecursetree %}

    </ul>

</div>

<div class="container">
<hr>

{% block content %}
    <div class="product-detail">
        <img src="{% if product.image_front %}{{ product.image_front.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
        <h1>{{ product.name }}</h1>
        <h2><a href="{{ product.category.get_absolute_url }}">{{ product.category.name }}</a></h2>
        <p class="price">${{ product.price }}</p>
            {{ product.description|linebreaks }}
        <form action="{% url "cart:cart_add" product.id %}" method="post">
        {{ cart_product_form }}
        {% csrf_token %}
        <input type="submit" value="加入购物车">
        </form>

    </div>
{% endblock %}

</div><!-- /.container -->
{% endblock container %}